.remove-all {
    border: none;
    box-shadow: 0.5rem;
    color: seashell;
    background-color: #E94B3CFF;
    font-weight: 300;
    margin-bottom: 50px;
    height: 40px;
}

.remove-all:active{
    background-color: black;
    transform: scale(0.70);
}

.remove-all:disabled {
    display: none;
}

.remove-all:hover {
    box-shadow: 12px 8px 0px 0px;
}